#cvf{
	background-color: #acc7b1;
	width: 100%;
	height: auto;
	font-family: 'Roboto';
}

iframe{
	max-width: 100%;
}

#cvf_container{
	width: 1230px;
	height: auto;
	margin: auto;
}

#cvf_header{
	height: 310px;
	width: 100%;
	display: inline;
}

#cvf_header_top{
	width: 100%;
	height: 250px;
}

.cvf_header_top_content{
	float: left;
	height: 100%;
}

.cvf_header_top_content.side{
	width: 345px;
	height: 100%;
	position: relative;
}

.cvf_banderin{
	position: absolute;
	bottom: 0px;
	
	height: 78px;
}

.cvf_banderin img{
	height: 100%;
}

#cvf_banderin_left{
	left: 70px;
}

#cvf_banderin_r{
	right: 70px;
}

.cvf_contador_cont{
	position: relative;
	width: 100%;
	width: 100%;
}


.cvf_header_top_content.center{
	width: 540px;
	height: 100%;
	position: relative; 
}

.cvf_header_top_content.center img{
	position: absolute;
	bottom: 15px;
}

.cvf_contador{
	position: absolute;
	top: 15px;
	right: 20px;
}

.cvf_contador_img{
	height: 17px;
	float: left;
}

.cvf_contador_item{
	float: left;
}

#cvf_menu{
	width: 100%;
	height: 54px;

	background-color: #f57751;
	
}

.cvf_menu_border{
	height: 4px;
	width: 100%;
	background-image: url(../images/CVF_l%C3%ADneas.png);
}

.cvf_menu_item{
	float: left;
	width: 20%;
	height: 100%;
	line-height: 54px;
	text-align: center;
}

.cvf_menu_item img{
	height: 28px;
}

.cvf_menu_item:hover{
	background-color: #f2d5ae;
}

#cvf_body{
	width: 100%;
}

.cvf_slider{
	width: 100%;
	height: 356px;
	border-bottom: 2px solid #202f3e;
	background-color: #93a498;
}

#cvf_content{
	background-color: #f2d5ae;
	padding:  50px 37px 0px 37px;
	display: table;
}

.cvf_col{
	float: left;
	width: 360px;
	height: 30px;
	display: table;
}

.cvf_col_separador{
	float: left;
	width: 38px;
	height: 1px;
}

.cvf_element_col{
	width: 100%;
	display: inline;
	margin-bottom: 30px;
	display: table;
}

.cvf_col_title{
	color: white;
	height: 32px;
	font-size: 36px;
	text-transform: uppercase;
	font-family: 'sunn';
	font-weight: 300;
}

.cvf_noticias_widget{
	background-color: #ca3327;
	width: 100%;
	height: auto;
	display: inline-block;
}

.cvf_noticias_widget .cvf_col_title{
	width: 100%;
	text-align: center;
	padding: 23px 0px;
}

.cvf_noticias_content{
	display: table;
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.cvf_noticias_col{
	float: left;
	
}

.cvf_noticias_col.left{
	width: 92px;
	text-transform: uppercase;
	color: #ca3327;
	background-color: #aac8b1;
	height: 34px;
	line-height: 34px;
	text-align: right;
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
	margin-top: 2px;
}

.cvf_noticias_col.left span{
	margin-right: 20px;
}

.cvf_noticias_col.right{
	width: 243px;
	font-size: 14px;
	color: white;
	padding-left: 25px;	
	line-height: 20px;
	font-weight: 300;
}

.cvf_noticias_col.right p{
	margin-right: 50px;
}


.cvf_element_img{
	width: 100%;
	background-color: #93a498;
	height: 300px; /*quitar*/
}

.cvf_element_img img{
	width: 100%;
}


.cvf_spotify{
	padding: 23px;
	margin: auto;
	background-color: #3a3a3a;
}

.cvf_spotify_top{
	width: 100%;
	height: 32px;
	margin-bottom: 23px;
}

.cvf_spotify_top .cvf_col_title{
	float: left;
}


.cvf_spotify_button{
	float: right;
	width: 92px;
}

.cvf_spotify_button img{
	width: 100%;
}

.cvf_spotify_item{
	width: 300px;
	margin: auto;
}


@media screen and (max-width: 1230px) {
	#cvf_container{
		width: 832px;
		height: auto;
		margin: auto;
	}
	
	#cvf_content{
		width: 758px;
	}
	
	.sep_2{
		display: none;
	}
	
	#cvf_col3{
		float: none;
	}
	
	.cvf_header_top_content.side{
		width: 245px;
		height: 100%;
	}

.cvf_header_top_content.center{
	width: 342px;
	height: 100%;
}
	
}

@media screen and (max-width: 832px) {
	#cvf_container{
		width: 750px;
		height: auto;
		margin: auto;
	}
	
	/*82*/
	
	#cvf_content{
		width: 730px;
	}
	
	.sep_2{
		display: none;
	}
	
	#cvf_col3{
		float: none;
	}
	
	.cvf_header_top_content.side{
		width: 210px;
		height: 100%;
	}

.cvf_header_top_content.center{
	width: 330px;

}



.cvf_col_separador{
	width: 10px;
}

#cvf_content{
	background-color: #f2d5ae;
	padding:  50px 10px 0px 10px;
	display: table;
}
	
}

@media screen and (max-width: 750px) {
	.sep_1{
		display: none;
	}
	
	.cvf_col{
		float: none;
		margin: auto;
		padding: 0;
		padding-top: 30px;
	}
	
	#cvf_content{
		padding: 0px;
		padding-top: 30px;
	}
	
	#cvf_container{
		width: 100%;
		height: auto;
		margin: auto;
	}
	
	/*82*/
	
	#cvf_content{
		width: 100%;
	}
}

@media screen and (max-width: 360px) {
	.sep_1{
		display: none;
	}
	
	.cvf_col{
		float: none;
		margin: auto;
		padding: 0;
		padding-top: 30px;
	}
	
	#cvf_content{
		padding: 0px;
		padding-top: 30px;
	}
	
	.cvf_col{
		width: 310px;

	}
	
	.cvf_spotify_top {
width: auto;
height: 32px;
padding: 0 10px;
margin-bottom: 23px;
}

.cvf_spotify{
	padding: 0;
	padding-top: 15px;
}

.cvf_noticias_col.right{
	width: 192px;
	
}

.cvf_noticias_col.right p{
	margin-right: 5px;
}
	
	
	#cvf_container{
		width: 100%;
		height: auto;
		margin: auto;
	}
	
	/*82*/
	
	#cvf_content{
		width: 100%;
	}
}
