#cvf{
	background-color: #acc7b1;
	width: 100%;
	height: auto;
	font-family: 'Roboto';
}

iframe{
	max-width: 100%;
}

#cvf_container{
	width: 1230px;
	height: auto;
	margin: auto;
}

#cvf_header{
	height: 310px;
	width: 100%;
	display: inline;
}

#cvf_header_top{
	width: 100%;
	height: 430px;
}

.cvf_header_top_content{
	float: left;
	height: 100%;
}

.cvf_header_top_content.side{
	width: 345px;
	height: 100%;
	position: relative;
}

.cvf_redes_sociales{
	display: table;
	margin-top: 250px;
}

.cvf_redes_item{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.cvf_redes_item:hover{
	opacity: 0.8;
}

.cvf_banderin{
	position: absolute;
	bottom: 0px;
	height: 78px;
}

.cvf_banderin img{
	height: 100%;
}

#cvf_banderin_left{
	left: 70px;
}

#cvf_banderin_r{
	right: 70px;
}

.cvf_contador_cont{
	position: relative;
	width: 100%;
	width: 100%;
}

.cvf_header_top_content.center{
	width: 540px;
	height: 100%;
	position: relative; 
}

.cvf_header_top_content.center img{
	position: absolute;
	bottom: 15px;
	margin-left: -72px;
	cursor: pointer;
}

.cvf_contador{
	position: absolute;
	top: 23px;
	right: 20px;
	color: #dc7957;
}

.cvf_contador_img{
	height: 12px;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 2px;
}

.cvf_contador_item{
	float: left;
	font-size: 24px;
	line-height: 20px;
	
}

#cvf_menu{
	width: 100%;
	height: 54px;
	background-color: #f57751;	
}

.cvf_menu_border{
	height: 4px;
	width: 100%;
	background-image: url(../images/CVF_l%C3%ADneas.png);
}

.cvf_menu_item{
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;	
}

.cvf_menu_item img{
	height: 28px;
	margin-top: 13px;
}

.cvf_menu_item:hover{
	background-color: #f2d5ae;
}

#cvf_body{
	width: 100%;
}

.cvf_slider{
	width: 100%;
	height: 356px;
	border-bottom: 2px solid #202f3e;
	background-color: #93a498;
}

#cvf_content{
	background-color: #f5dab7;
	padding:  50px 37px 0px 37px;
	display: table;
}

.cvf_col{
	float: left;
	width: 360px;
	height: 30px;
	display: table;
}

.cvf_col_separador{
	float: left;
	width: 38px;
	height: 1px;
}

.cvf_element_col{
	width: 100%;
	display: inline;
	margin-bottom: 30px;
	display: table;
}

.cvf_col_title{
	color: white;
	height: 32px;
	font-size: 36px;
	text-transform: uppercase;
	font-family: 'sunn';
	font-weight: 300;
}

.cvf_noticias_widget{
	background-color: #d13b2d;
	width: 100%;
	height: auto;
	display: inline-block;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
}

.cvf_noticias_widget img{
	height: 31px;
	
}

.cvf_noticias_widget .cvf_col_title{
	width: 100%;
	text-align: center;
	padding: 23px 0px;
}

.cvf_noticias_content{
	display: table;
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.cvf_noticias_content:last-child{
	margin-bottom: 10px;
}

.cvf_noticias_col{
	float: left;
	
}

.cvf_noticias_col.left{
	width: 92px;
	text-transform: uppercase;
	color: #ca3327;
	background-image: url(../images/CVF_bullet.png);
	height: 34px;
	line-height: 34px;
	text-align: right;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
	margin-top: 2px;
}

.cvf_noticias_col.left span{
	margin-right: 20px;
}

.cvf_noticias_col.right{
	width: 243px;
	font-size: 16px;
	color: white;
	padding-left: 25px;	
	line-height: 20px;
	font-weight: 400;
	text-align: left;
}

.cvf_noticias_col.right p{
	margin-right: 50px;
}


.cvf_element_img{
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	display: table;
	text-align: center;
}

.cvf_element_img img{
	width: 100%;
}


.cvf_spotify{
	padding: 23px;
	margin: auto;
	background-color: #434343;
	padding-bottom: 3px;
	border-radius: 5px 5px 0px 0px;
}

.cvf_spotify_top{
	width: 100%;
	height: 32px;
	margin-bottom: 23px;
}

.cvf_spotify_top .cvf_col_title{
	float: left;
}

.cvf_col_title img{
	height: 31px;
}


.cvf_spotify_button{
	float: right;
	width: 92px;
}

.cvf_spotify_button img{
	width: 100%;
}

.cvf_spotify_item{
	width: 300px;
	margin: auto;
}

.cvf_border{
	height: 20px;
	width: 100%;
	background-size: auto 101%;
}

.cvf_border.cvf_red{
	background-image: url(../images/CVF_borde_noticias.png);
}

.cvf_black{
	background-image: url(../images/CVF_borde_playlist.png);
}

.cvf_all{
	background-image: url(../images/CVF_borde_centro.png);
}

.cvf_border_footer{
	background-image: url(../images/CVF_borde_footer.png);
}

#cvf_footer{
	display: table;
	width: 100%;
}

.cvf_footer_content{
	height: 420px;
	width: 100%;
	background-color: #f6835b;
}


.cvf_footer_content .cvf_redes_sociales{
	margin: auto;
	padding-top: 20px;
}

.cvf_estadios{
	background-color: #f5dab7;
}


.cvf_estadios_container{
	
	display: table;
	padding: 40px 17px 20px 17px;
	max-width: 100%;
	margin: 30px 0px 0px 0px;
}

.cvf_estadio{
	width: 360px;
	height: auto;
	margin: 0px 19px 20px 19px;
	display: table;
	float: left;
	cursor: pointer;
}

.cvf_estadio:hover{
	opacity: .8;
}

.cvf_estadio:last-child{
	float: none;
	margin: auto;	
}

.cvf_estadio img{
	width: 100%;
}

#cvf_content_info{
	width: 100%;
	padding: 60px 0;
	background-color: #f5dab7;
}

.cvf_info{
	width: 800px;
	margin: auto;
}

.cvf_info p{
	margin-bottom: 20px;
	font-family: 'sunn';
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.cvf_info h2{
	font-size: 70px;
	font-weight: bolder;
	text-align: center;
	font-family: 'sunn';
	margin-top: 60px;
}


.cvf_lineup{
	width: 90%;
	max-width: 920px;
	margin: auto;
}

.cvf_lineup img{
	width: 100%;
}

.cvf_estadio_info{
	
}

.cvf_share{
	height: 27px;
	width: auto;
	display: table;
	margin: 20px auto;
	margin-bottom: 40px;
}

.cvf_share img{
	height: 100%;
}

.cvf_share_title{
	float: left;
}

.cvf_share_container{
	display: table;
	float: left;
	margin-left: 10px;
	height: 27px;
}

.cvf_share_item{
	height: 30px;
	float: left;
	margin-left: 5px;
}

.cvf_share_item:hover{
	opacity: 0.8;
}

.cvf_estadio_info{
	position: fixed;
	top: 0;
	left: 0; 
	display: none;
}

.cvf_estadio_info_container{
	display: table;
	width: 100%;
	height: 100%;
}

.cvf_estadio_info_c{
	display: table-cell;
	vertical-align: middle;
}

.cvf_estadio_info_item{
	display: none;
	margin: auto;
	
}

.cvf_footer_content{
	
}



@media screen and (max-width: 1230px) {
	#cvf_container{
		width: 832px;
		height: auto;
		margin: auto;
	}
	
	#cvf_content{
		width: 758px;
	}
	
	.sep_2{
		display: none;
	}
	
	
	#cvf_col3{
		float: none;
		width: 100%;
	}
	
	#cvf_col3 .cvf_element_col{
		width: 360px;
	}
	
	.cvf_header_top_content.side{
		width: 245px;
		height: 100%;
	}

	.cvf_header_top_content.center{
		width: 342px;
		height: 100%;
	}
	
	.cvf_header_top_content.center img {
	position: absolute;
	bottom: 55px;
	width: 150%;
	margin-left: -25%;
	}
	
	.cvf_menu_item img {
	height: 22px;
	margin-top: 15px;
	}
	
	.cvf_redes_sociales {
	margin-top: 10px;
	}
	
	
	#cvf_banderin_left {
	left: 50px;
	}
	
	#cvf_banderin_r{
		right: 50px;
	}
	
}

@media screen and (max-width: 832px) {
	#cvf_container{
		width: 750px;
		height: auto;
		margin: auto;
	}
	
	/*82*/
	
	#cvf_content{
		width: 730px;
	}
	
	.sep_2{
		display: none;
	}
	
	#cvf_col3{
		float: none;
	}
	
	.cvf_header_top_content.side{
		width: 210px;
		height: 100%;
	}

.cvf_header_top_content.center{
	width: 330px;

}



.cvf_col_separador{
	width: 10px;
}

#cvf_content{
	background-color: #f2d5ae;
	padding:  50px 10px 0px 10px;
	display: table;
}

.cvf_estadios_container{

	padding: 10px 5px 5px 5px;

}

.cvf_estadio{

	margin: 0px 5px 0px 5px;

}
	
}

@media screen and (max-height: 800px) {
	.cvf_estadio_info_item{
		width: 600px;
	}
	
	.cvf_estadio_info_item img{
		width: 100%;
	}
}

@media screen and (max-width: 750px) {
	.sep_1{
		display: none;
	}
	
	.cvf_col{
		float: none;
		margin: auto;
		padding: 0;
		padding-top: 30px;
	}
	
	#cvf_content{
		padding: 0px;
		padding-top: 30px;
	}
	
	#cvf_container{
		width: 100%;
		height: auto;
		margin: auto;
	}
	
	#cvf_col3{
		float: none;
		width: 360px;
	}
	
	/*82*/
	
	.cvf_header_top_content.side{
		display: none;
	}
	
	#cvf_content{
		width: 100%;
	}
	
	
	.cvf_header_top_content.center{
		float: none;
		margin: auto;
		width: 90%;
	}
	
	.cvf_header_top_content.center img{
		margin-left: 0px;
		width: 100%;
		bottom: 15px;
	}
	
	.cvf_menu_item img {
		height: 16px;
		margin-top: 18px;
	}
	
	.cvf_estadios_container {
padding: 10px 4px 5px 4px;
width: 360px;
margin: auto;
}
	
	.cvf_estadio{
		margin: auto;
	
	}
	
}


@media screen and (max-width: 414px) {
	.cvf_menu_item img {
		height: 12px;
		margin-top: 20px;
	}
	
	#cvf_header_top{
		height: auto;
		padding: 15px 0px;
	}
	
	
	.cvf_header_top_content.center img{
		position: inherit;
		bottom: 0px;
	}
	
	.cvf_estadio_info_item{
		width: 95%;
	}
	
	.cvf_estadio_info_item img{
		width: 100%;
	}
}

@media screen and (max-width: 360px) {
	.sep_1{
		display: none;
	}
	
	.cvf_col{
		float: none;
		margin: auto;
		padding: 0;
		padding-top: 30px;
	}
	
	#cvf_content{
		padding: 0px;
		padding-top: 30px;
	}
	
	.cvf_col{
		width: 310px;

	}
	
	#cvf_col3{
		float: none;
		width: 310px;
	}
	
	#cvf_col3 .cvf_element_col{
		width: 100%;
	}

	
	.cvf_spotify_top {
		width: auto;
		height: 32px;
		padding: 0 10px;
		margin-bottom: 23px;
	}

	.cvf_spotify{
		padding: 0;
		padding-top: 15px;
	}

	.cvf_noticias_col.right{
		width: 192px;
		
	}

	.cvf_noticias_col.right p{
		margin-right: 5px;
	}
	
	
	#cvf_container{
		width: 100%;
		height: auto;
		margin: auto;
	}
	
	/*82*/
	
	#cvf_content{
		width: 100%;
	}
	
		.cvf_estadios_container {
padding: 10px 0px 5px 0px;
width: 300px;
margin: auto;
}
	
	.cvf_estadio{
		margin: auto;
		width: 100%;
	}
	
}


@media screen and (max-width: 320px) {
	.cvf_menu_item img {
		height: 10px;
		margin-top: 22px;
	}
}



